h1{
    background-color: greenyellow;
    
}
body{
    margin-left: 20px;
}
.chat{
    background-color: beige;
    padding: 20px;
    border-radius: 17px;
    display: inline-block;
}
.msg{
    background-color: dodgerblue;
    color: aliceblue;
    padding: 5px  15px;
        border-radius: 17px;
}
